/* #postContainer {
	display: grid;
	grid-template-columns: 1fr 6fr;
	border: solid;
	border-radius: 10px;
	background-color: rgb(138, 128, 118, 0.9);
	margin: 10px auto;
	max-width: 900px;
	width: 100%;
}

#title {
	font-weight: bold;
	text-decoration: underline;
}

#signature {
	font-style: italic;
}

#userPhoto {
	border-radius: 50px;
	height: 50px;
	width: 50px;
	margin: auto;
}

#photoContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

#deleteContainer {
	display: flex;
	align-items: center;
}

#deleteSection,
#updateSection {
	background-color: rgba(256, 256, 256, 0.9);
	border-radius: 5px;
	margin: auto;
	display: flex;
	flex-direction: column;
}

#buttonContainer2 {
	display: flex;
	margin: auto;
	justify-content: space-around;
	width: 75vw;
	max-width: 800px;
}

.addUpdateDeleteButtons {
	font-size: larger;
} */
